<mat-card>
    <mat-card-header>
        <mat-card-title>Create a New Game</mat-card-title>
    </mat-card-header>
    <mat-card-actions align="end">
        <div fxLayout="row" fxLayoutAlign="space-evenly stretch">
            <form [formGroup]="form!" (ngSubmit)="createNewGame()">
                <div class="input-format">
                    <label class="input-format">Blue Player Name</label>
                    <input matInput [(ngModel)]="createGameRequestDto!.playerBlueName" name="playerBlueName"
                        maxlength="50" minlength="1" ngModel pattern="[0-9a-zA-Z ]*" formControlName="playerBlueName"
                        type="text" class="form-control" style="color: blue;">
                </div>
                <div class="input-format">
                    <label class="input-format">Red Player Name</label>
                    <input matInput [(ngModel)]="createGameRequestDto!.playerRedName" name="playerRedName"
                        maxlength="50" minlength="1" ngModel pattern="[0-9a-zA-Z ]*" formControlName="playerRedName"
                        type="text" class="form-control" style="color: red;">
                </div>
                <div class="input-format">
                    <label>Number of Pits</label>
                    <mat-icon matTooltip="Max 10 pits allowed."
                        style="transform: scale(0.8);     vertical-align: middle; padding-right: 0.5em;">info</mat-icon>
                    <input matInput [(ngModel)]="createGameRequestDto!.pitCount" name="pitCount" max="10" min="1"
                        style="width: 46% ;" formControlName="pitCount" type="number" class="form-control">
                </div>
                <button class="new-game-button" [disabled]="form && !form.valid" type="submit" mat-raised-button
                    color="primary">Create Game
                </button>
            </form>
        </div>
    </mat-card-actions>
</mat-card>