<mat-card>
    <mat-card-header>
        <mat-card-title>Resume an Existing Game</mat-card-title>
    </mat-card-header>
    <mat-card-actions align="end">
        <div fxLayout="row" fxLayoutAlign="space-evenly stretch">
            <form [formGroup]="form!" (ngSubmit)="resumeGame()">
                <div class="input-format">
                    <label class="input-format">Game Id</label>
                    <input matInput [(ngModel)]="gameId" name="gameId" formControlName="gameIdForm" type="number"
                        class="form-control">
                </div>
                <button class="new-game-button" [disabled]="form && !form.valid" type="submit" mat-raised-button
                    color="primary">Resume Game
                </button>
            </form>
        </div>
    </mat-card-actions>
</mat-card>