<h1 class='input-format'>Kalah!!</h1>

<div fxLayout="row" fxLayoutAlign="space-evenly stretch">
    <div>
        <form [formGroup]="form" (ngSubmit)="createNewGame()">

            <div class="input-format">
                <label>Red Player Name</label>
                <input matInput [(ngModel)]="createGameRequestDto.playerBlueName" name="playerBlueName" #name
                    formControlName="playerBlueName" type="text" class="form-control"> 
            </div>

            <div class="input-format">
                <label>Blue Player Name</label>
                <input matInput [(ngModel)]="createGameRequestDto.playerRedName" name="playerRedName" #name
                    formControlName="playerRedName" type="text" class="form-control">
            </div>

            <div class="input-format">
                <label>Number of Pits</label>
                <input matInput [(ngModel)]="createGameRequestDto.pitCount" name="pitCount" #pitCount
                    formControlName="pitCount" type="number" class="form-control">
            </div>

            <button fxLayout="column" fxLayoutAlign="space-around stretch" class="new-game-button"
                [disabled]="!form.valid" type="submit" mat-raised-button color="primary">Submit
            </button>

        </form>
    </div>
</div>